<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <form action="/login" method="post">
    <h1>Login</h1>
    <div>
      <label for="dni">Username:</label>
      <input type="text" id="dni" name="dni" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</body>
</html>
