<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
  <link href="../static/css/styles.css" rel="stylesheet">
</head>

<body>
  <form id="registrationForm">
    <h1>User Registration</h1>
    <div>
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" required>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" required>
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="birthDate">Birth Date:</label>
      <input type="date" id="birthDate" name="birthDate" required>
    </div>
    <div>
      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="" disabled selected>Select your gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="button" id="submitButton">Register</button>
    </div>
  </form>

  <script>
    document.getElementById('submitButton').addEventListener('click', function () {
      const form = document.getElementById('registrationForm');
      const formData = new FormData(form);
      const jsonData = Object.fromEntries(formData);

      fetch('/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json' // Explicitly set the content type
        },
        body: JSON.stringify(jsonData) // Convert form data to JSON format
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('HTTP status ' + response.status);
          }
          return response.json();
        })
        .then(data => console.log('Success:', data))
        .catch(error => console.error('Error:', error));
    });

  </script>
</body>

</html>